@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'jackpot';
  src: url('./assets/fonts/default.woff2');
}

* {
  font-family: 'jackpot';
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

/* svg {
  width: 30px;
  height: auto;
} */